<footer class="site-footer">

  <div class="wrapper">
      <a href="mailto:{{ site.email }}">
              <img src="/otomori_contact-banner_1.jpg" alt="otomori contact info" max-width:100%; max-height:100%;>
      </a>
      <br>
          <img src="/logo_hku.jpg" alt="logo hku" style="float: left; width: 60%; margin-right: 1%; margin-bottom: 0.5em;">
		  <img src="/logo_sia.jpg" alt="logo hku" style="float: right; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
		  <p style="clear: both;">
      <br>
<!--
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
-->
  </div>

</footer>
